@media all and (min-width : 320px) and (max-width : 768px) {
    /** fNav **/
    #fNav {
        opacity: 1;
        visibility: visible;
    }

    /** first **/
    #first .linkLogo {/** link Logo **/
        opacity: 0;
        visibility: hidden;
    }

    #first .int {/** int **/
        width: 100%;
    }

    #first .int .menu {
        width: 0px;
        height: 0px;

        opacity: 0;
        visibility: hidden;
    }

    #first .int .menu ul li {
        width: 0px;
    }
}

@media all and (min-width : 768px) and (max-width : 1024px) {
    /** fNav **/
    #fNav {
        opacity: 0;
        visibility: hidden;
    }

    /** first **/
    #first .linkLogo {/** link Logo **/
        opacity: 1;
        visibility: visible;
    }

    #first .int {/** int **/
        width: 768px;
    }

    #first .int .menu {/** int menu **/
        width: 100%;
        height: 100%;

        opacity: 1;
        visibility: visible;
    }

    #first .int .menu ul li {
        width: 150px;
    }
}

@media all and (min-width : 1024px) and (max-width : 1440px) {
    /** fNav **/
    #fNav {
        opacity: 0;
        visibility: hidden;
    }
    
    /** first **/
    #first .linkLogo {/** link Logo **/
        opacity: 1;
        visibility: visible;
    }

    #first .int {/** int **/
        width: 1024px;
    }

    #first .int .menu ul li {
        width: 100px;
    }
}