/** under **/
#under {
    position: relative;

    width: 100%;
    height: 100%;
}

/** container **/
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /** media width **/
    height: 100%;

    transition-property: width;
    transition-duration: 1s;
}

/** main **/
#main {
    background: url(/Blue/Photo/reonaPhoto--01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

#main .cover {
    background: #000;
    position: relative;
    width: 100%;
    height: 100%;

    opacity: 0.6;
    transition-property: opacity;
    transition-duration: 1s;
}

/** first **/
#first {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
}

/** btn logo **/
#first .btnLogo {
    z-index: 10;
    position: absolute;

    left: 0px;
    width: 220px;
    height: 380px;
    /** 120 / 60 * 4 **/
}

#first .btnLogo ul {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    height: 100%;
}

#first .btnLogo ul li {
    position: relative;

    left: 5px;
    width: 200px;
    height: 60px;

    transition-property: left;
    transition-duration: 1s;

    opacity: 0.6;
}
#first .btnLogo ul li:nth-child(1) {
    height: 120px;
}

/** fi menu **/
#first .fiMenu {
    z-index: 10;
    position: absolute;

    bottom: -30px;
    width: 100%;

    transition-property: top;
    transition-duration: 1s;
}

#first .fiMenu.neb {
    position: fixed;

    top: -42px;
}

#first .fiMenu.neb.fiClick {
    top: 0px;
}

/****/
#first .fiMenu .fiMenuBox {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    top: 0;
}

/****/
#first .fiMenu .fiMenuBox .logo {
    position: relative;

    width: 300px;
    height: 100px;
}

#first .fiMenu.neb .fiMenuBox .logo {
    height: 0;
    opacity: 0;
    visibility: hidden;
}

#first .fiMenu .fiMenuBox .logo img {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;

    width: 100%;
    height: 100%;

    opacity: 0.2;
}

/****/
#first .fiMenu .fiMenuBox .list {
    position: relative;

    width: 100%;
}

#first .fiMenu .fiMenuBox .list ul {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    width: 100%;
}

#first .fiMenu.neb .fiMenuBox .list ul {
    backdrop-filter: blur(10px);
    border-bottom: 2px solid var(--aCol01B);
}

#first .fiMenu .fiMenuBox .list ul li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 30px;
    margin: 5px 0px 5px 0px;

    font-family: 'Indie Flower', cursive;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;

    color: var(--aCol01B);
}

/****/

/****/

/****/

/****/
#first .fiMenu .fiMenuBtn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 30px;

    opacity: 0;
    visibility: hidden;
}

#first .fiMenu.neb .fiMenuBtn {
    opacity: 1;
    visibility: visible;
}

#first .fiMenu .fiMenuBtn i {
    z-index: 10;
    backdrop-filter: blur(10px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    top: 0;
    width: 80px;
    height: 0px;
    border-radius: 0px 0px 10px 10px;
    border-width: 0px 2px 2px 2px;
    border-style: solid;
    border-color: var(--aCol01B);

    font-size: 21px;
    color: var(--aCol01B);

    opacity: 0;
    visibility: hidden;

    transition-property: opacity, visibility;
    transition-duration: 1s;
}

#first .fiMenu.neb .fiMenuBtn i {
    height: 30px;
    
    opacity: 1;
    visibility: visible;
}