/****/
#second .intBox .intA:nth-child(1).Soop {
    height: 500px;
}
#second .intBox .intA:nth-child(2).Soop {
    height: 720px;
}
#second .intBox .intA:nth-child(3).Soop {
    height: 3120px;
}
#second .intBox .intA:nth-child(4).Soop {
    height: 820px;
}

/****/
#second .intBox .intA:nth-child(1) .intC {
    height: calc(500px - 80px);
}
#second .intBox .intA:nth-child(2) .intC {
    height: calc(720px - 80px);
}
#second .intBox .intA:nth-child(3) .intC {
    height: calc(3120px - 80px);
}
#second .intBox .intA:nth-child(4) .intC {
    height: calc(820px - 80px);
}

/****/
#second .intBoxA.mor .intA:nth-child(1).Soop {
    height: 450px;
}
#second .intBoxA.mor .intA:nth-child(2).Soop {
    height: 8200px;
}
#second .intBoxA.mor .intA:nth-child(3).Soop {
    height: 700px;
}
#second .intBoxA.mor .intA:nth-child(4).Soop {
    height: 3000px;
}

/****/
#second .intBoxA.mor .intA:nth-child(1) .intC {
    height: calc(450px - 80px);
}
#second .intBoxA.mor .intA:nth-child(2) .intC {
    height: calc(8200px - 80px);
}
#second .intBoxA.mor .intA:nth-child(3) .intC {
    height: calc(700px - 80px);
}
#second .intBoxA.mor .intA:nth-child(4) .intC {
    height: calc(3000px - 80px);
}

/****/
#second .intBoxA {
    display: none;

    overflow: hidden;
}

#second .intBoxA.mor {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    margin-top: 10px;
    width: 100%;
}

#second .intBoxA.mor .intA {
    backdrop-filter: blur(50px);
    position: relative;

    width: 80%;
    height: 80px;

    border: 2px solid var(--aCol01B);
    border-radius: 15px;

    margin-bottom: 10px;

    transition-property: height;
    transition-duration: 1s;

    overflow: hidden;
}

/** intb **/
#second .intBoxA.mor .intA .intB {
    cursor: pointer;
    position: relative;
    display: flex;

    width: 100%;
    height: 80px;

    color: var(--aCol01);

    opacity: 0.6;

    transition-property: opacity;
    transition-duration: 1s;
}

#second .intBoxA.mor .intA .intB {
    height: 0px;
}

#second .intBoxA.mor .intA .intB:hover {
    opacity: 0.8;
}

/****/
#second .intBoxA.mor .intA .intB .intBDay {
    position: relative;
    display: flex;
    flex: 1 1 0;
    justify-content: center;
    align-items: center;

    font-family: var(--E01);
    font-weight: 600;
    font-size: 14px;

    line-height: 13px;
}

#second .intBoxA.mor .intA .intB .intBDay ul {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#second .intBoxA.mor .intA .intB .intBDay ul li:nth-child(2) {
    font-size: 14px;
    letter-spacing: 1px;
}

/****/
#second .intBoxA.mor .intA .intB .intBTitle {
    position: relative;
    display: flex;
    flex: 9 1 0;
    justify-content: center;

    font-family: var(--J01);
    font-weight: 600;
    font-size: 13px;
}

#second .intBoxA.mor .intA .intB .intBTitle ul {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    line-height: 15px;
}

/****/
#second .intBoxA.mor .intA .intC {
    position: relative;

    top: 0;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;

    opacity: 0;
    visibility: hidden;

    transition-property: opacity, visibility, height;
    transition-duration: 1s;
}

#second .intBoxA.mor .intA.Soop .intC {
    opacity: 1;
    visibility: visible;
}

#second .intBoxA.mor .intA .intC ul {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;

    width: 100%;
    height: 100%;

    font-size: 13px;
    font-family: var(--J01);
    font-weight: 600;
    
    color: var(--aCol01);
    line-height: 20px;

    opacity: 0.6;
}

#second .intBoxA.mor .intA .intC ul li a {
    font-size: 13px;
    font-family: var(--J01);
    font-weight: 600;

    color: var(--aCol01);
    line-height: 20px;
}