#under {
    position: relative;

    width: 100%;
    height: 100%;
}

#main {
    background: url(/Blue/Photo/reonaPhoto--01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

#main .mainCover {
    background: #000;
    position: relative;

    width: 100%;
    height: 100%;

    opacity: 0.5;

    transition-property: opacity;
    transition-duration: 1s;
}

/** fNav **/
#fNav {
    z-index: 10;
    position: fixed;

    top: -2px;
    width: 100%;

    opacity: 0;
    visibility: hidden;

    transition-property: opacity, visibility;
    transition-duration: 1s, 1s;
}

/** fNav
fint **/
#fNav .fint {
    position: relative;
    backdrop-filter: blur(10px);

    width: 100%;
    height: 0px;
    /**
    height: 0px; **/

    box-sizing: border-box;
    border-bottom: 2px solid var(--aCol01A);

    transition-property: height;
    transition-duration: 1s;
}

#fNav.XX .fint {
    height: 350px;
}

/** fNav
fint logo **/
#fNav .fint .fintLogo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;

    width: 100%;
    height: 50px;

    opacity: 0;
    visibility: hidden;

    transition-property: opacity, visibility;
    transition-duration: 0.6s, 0.6s;
}

#fNav.XX .fint .fintLogo {
    opacity: 1;
    visibility: visible;
}

#fNav .fint .fintLogo img {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    position: relative;

    width: 100px;
    height: 35px;

    opacity: 0.4;
}

/** fNav
fint OR **/
#fNav .fint .fintOR {
    position: relative;

    width: 100%;
    height: calc(100% - 50px);

    padding: 5px 20px;
    box-sizing: border-box;

    opacity: 0;
    visibility: hidden;

    transition-property: opacity, visibility;
    transition-duration: 0.3s, 1s;
}

#fNav.XX .fint .fintOR {
    opacity: 1;
    visibility: visible;

    transition-property: opacity, visibility;
    transition-duration: 2s, 1s;
}

#fNav .fint .fintOR ul {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: flex-start;

    height: 100%;
}

#fNav .fint .fintOR ul li {
    position: relative;

    font-size: 14px;
    font-family: var(--E01);
    font-weight: 600;
    color: var(--aCol01);

    opacity: 0.4;

    letter-spacing: 1px;
}

#fNav .fint .fintOR ul li a {
    position: relative;

    color: var(--aCol01);
}

#fNav .fint .fintOR ul li a span {
    position: relative;
}

#fNav .fint .fintOR ul li a span i {
    position: absolute;

    top: -2px;
    right: -2px;
    transform: rotate(45deg);
    font-size: 12px;
}

/** fNav
fBtn **/
#fNav .fBtn {
    position: relative;
    display: flex;
    justify-content: center;

    width: 100%;
    height: 30px;
}

#fNav .fBtn ul {
    backdrop-filter: blur(10px);
    position: relative;
    box-sizing: border-box;

    width: 100px;
    height: 30px;
    border-radius: 0px 0px 15px 15px;

    border-left: 2px solid var(--aCol01A);
    border-bottom: 2px solid var(--aCol01A);
    border-right: 2px solid var(--aCol01A);
}

#fNav .fBtn ul li {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    transition-property: opacity, visibility;
    transition-duration: 1s, 1s;
}

#fNav .fBtn ul li:nth-child(1) {
    opacity: 1;
    visibility: visible;
}
#fNav .fBtn ul li:nth-child(2) {
    opacity: 0;
    visibility: hidden;
}
#fNav.XX .fBtn ul li:nth-child(1) {
    opacity: 0;
    visibility: hidden;
}
#fNav.XX .fBtn ul li:nth-child(2) {
    opacity: 1;
    visibility: visible;
}

#fNav .fBtn ul li i {
    font-size: 19px;
    color: var(--aCol01A);
}

/** box **/
#Box {
    position: relative;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/** first **/
#first {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
}

/** first
int **/
#first .int {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    bottom: 0;
    width: 1024px;

    margin-bottom: 10px;

    transition-property: width;
    transition-duration: 1s;
}

/** first
int logo **/
#first .int .logo {
    position: relative;

    width: 300px;
    height: 100px;
}

#first .int .logo .path {
    background: url(/Blue/Photo/reonaLogo--01.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    width: 100%;
    height: 100%;

    opacity: 0.5;
}

/** first
int menu **/
#first .int .menu {
    position: relative;

    width: 100%;
    height: 100%;

    
}

#first .int .menu ul {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    height: 100%;
}

#first .int .menu ul li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 50px;

    font-size: 13px;
    font-weight: 600;
    font-family: var(--E01);
    color: var(--aCol01);

    opacity: 0.4;

    transition-property: opacity;
    transition-duration: 1s;
}

#first .int .menu ul li:hover {
    opacity: 0.8;
}

#first .int .menu ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    color: var(--aCol01);
}

#first .int .menu ul li a span {
    position: relative;
}

#first .int .menu ul li a span i {
    position: absolute;

    right: -2px;
    top: -3px;

    font-size: 12px;

    transform: rotate(45deg);
}

/** first
int arrow **/
#first .int .arrow {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    overflow: hidden;
}

#first .int .arrow i {
    position: relative;

    top: 0;

    font-size: 24px;

    color: var(--aCol01);

    opacity: 0.4;

    animation-name: firstArrow;
    animation-iteration-count: 2;
    animation-duration: 2s;
}

@keyframes firstArrow {
    0% {
        top: 0;
        opacity: 0.4;
    }33% {
        top: 25px;
        opacity: 0;
    }66% {
        top: -25px;
        opacity: 0;
    }100% {
        top: 0;
        opacity: 0.4;
    }
}

/** first
linkLogo **/
#first .linkLogo {
    position: absolute;

    left: 0;
    width: 210px;
    height: 400px;

    margin-left: 10px;

    opacity: 1;
    visibility: visible;

    transition-property: visibility, opacity;
    transition-duration: 1s, 1s;
}

#first .linkLogo ul {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-flow: column;

    width: 100%;
    height: 100%;
}

#first .linkLogo ul li {
    position: relative;

    left: 0px;
    width: 200px;

    opacity: 0;

    transition-property: left, opacity;
    transition-duration: 1s, 1s;
}

#first .linkLogo ul li:hover {
    left: 10px;
}

#first .linkLogo ul li:nth-child(1) {
    height: 120px;
}
#first .linkLogo ul li:nth-child(n+2) {
    height: 65px;
}

#first .linkLogo ul li a {
    position: relative;
    display: flex;

    width: 100%;
    height: 100%;
}

#first .linkLogo ul li a img {
    position: relative;

    width: 100%;
    height: 100%;
}

/** second **/
#second {
    position: relative;

    width: 100%;

    margin-top: 30px;
}

/** second
box **/
#second .box {
    background: saddlebrown;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

/** second
box sint **/
#second .box .sint {
    position: relative;

    width: 80%;
    height: 80px;

    margin-bottom: 10px;

    border: 2px solid var(--aCol01A);
    border-radius: 15px;
    overflow: hidden;
}

/** second
box sint sintP **/
#second .box .sint .sintP {
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
}

/****/
#second .box .sint .sintP .sintTi {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 80px;
}

#second .box .sint .sintP .sintTi ul {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#second .box .sint .sintP .sintTi ul:nth-child(1) {
    flex: 1 1 0;
}

#second .box .sint .sintP .sintTi ul:nth-child(1) li:nth-child(2) {
    position: absolute;

    top: 12px;
    font-size: 12px;
}


#second .box .sint .sintP .sintTi ul:nth-child(2) {
    flex: 9 1 0;
}

#second .box .sint .sintP .sintTi ul li {
    font-size: 14px;
    font-family: var(--J02);
    font-weight: 600;

    line-height: 15px;

    color: var(--aCol01);
}

/****/
#second .box .sint .sintP .sintSu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: calc(100% - 80px);
    padding: 10px;
    box-sizing: border-box;
}

#second .box .sint .sintP .sintSu ul {
    position: relative;
}

#second .box .sint .sintP .sintSu ul li {
    font-size: 13px;
    font-family: var(--J01);
    font-weight: 600;

    color: var(--aCol01);
}

#second .box .sint .sintP .sintSu ul li a {
    color: var(--aCol01);
}